# Architecture
BR2_arm=y
BR2_arm1176jzf_s=y
BR2_ARM_EABIHF=y

# GNU C Toolchain
BR2_KERNEL_HEADERS_4_19=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# Vendor
BR2_TOOLCHAIN_BUILDROOT_VENDOR="swift"
BR2_TARGET_GENERIC_HOSTNAME="swift-linux"
BR2_TARGET_GENERIC_ISSUE="Welcome to Swift Linux"

# Swift Runtime Libraries
BR2_PACKAGE_LIBDISPATCH=y
BR2_PACKAGE_SWIFT=y
BR2_PACKAGE_LIBSWIFTDISPATCH=y
BR2_PACKAGE_FOUNDATION=y

# Dependencies
BR2_PACKAGE_ICU=y
BR2_PACKAGE_LIBBSD=y
BR2_PACKAGE_LIBMD=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_OPENSSL=y
